.img-responsive{
    width: 100%;
    height: auto;
}


@media only screen and (max-width : 468px) {
    .visualize{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .card-products .card .title{
        font-size: 90%;
    }
}

@media screen and (max-width: 500px) {
    .card-products .card .title{
        font-size: 70%;
    }
}

.text_center{
    padding: 1.25rem 0;
    text-align: center;
}

.text_left{
    text-align: left;
    position: relative;
}

.text_right{
    padding: 1.25rem 0;
    position: relative;
    text-align: right;
}

.fix_columns{
    margin-left: 0rem;
    margin-right: 0rem;
}

.fix_container{
    max-width: 900px;
}

.align-self-center {
    align-self: center;
}

.justify-content-between {
    justify-content: space-between!important;
}

.logo_user{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
}

.owl-carousel{
    position: relative;
  }
  
.owl-dots{
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0%;
}

.background-img{
    margin: 100px 0 0;
    background: url(/rsc/img/home/newsletter-bg.png) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 75px 0 95px;
}

.margin-items figure{
    margin: 2% !important;
}

.owl-carousel, .same-carousel-items{
    position: relative !important;
  }

.same-carousel-items .owl-item{
    height: 100% !important;
}
  
.same-carousel-items .owl-dots{
    position: absolute !important;
    left: 25% !important;
    right: 25% !important;
    bottom: 0% !important;
}

#top-carousel .owl-dots .owl-dot span{
    width: 50px !important;
    height: 2px !important;
    background-color: #5a5a5a !important;
    
}
#top-carousel .owl-dots .owl-dot.active span{
    width: 50px !important;
    height: 4px !important;
    background-color: #df0000 !important;
}
#top-carousel .owl-dots .owl-dot span:hover{
    width: 50px !important;
    height: 4px !important;
    background-color: #df0000 !important;
}

.card-products .card{
    background-color: white !important;
    box-shadow: none !important;
    transition: all 0.5s;
}
.card-products .card:hover{
    box-shadow: 5px 5px 10px rgb(200, 200, 200) !important;
}

.outer-center-vertical{
    display:flex;
    justify-content: flex-end;
}

.iner-center-vertical{
    margin-top: auto;
    margin-bottom: auto;
}

.outer-center-vertical-brand{
    display:flex;
    justify-content: center;
}

#brand-items .owl-stage{
    display:flex;
    justify-content: center;
}

#brand-items .owl-item{
    margin-top: auto;
    margin-bottom: auto;
}
