.img-responsive{
    width: 100%;
    height: auto;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width : 468px) {
    .visualize{
        display: none;
    }
}

@media only screen and (max-width : 319px) {
    .visualize1{
        display: none;
    }
}

@media only screen and (max-width : 768px) {
    .visualize2{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .card-products .card .title{
        font-size: 90%;
    }
    h3 a{
        font-size: 10%;
    }

}

@media screen and (max-width: 500px) {
    .card-products .card .title{
        font-size: 70%;
    }
}

.text_center{
    padding: 1.25rem 0;
    text-align: center;
}

.text_left{
    text-align: left;
    position: relative;
}

.text_right{
    padding: 1.25rem 0;
    position: relative;
    text-align: right;
}

.fix_columns{
    margin-left: 0rem;
    margin-right: 0rem;
}

.fix-padding-product{
    padding: 2%;
}

.price{
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px!important;
}

.price-normal{
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px!important;
}

.ogri-price{
    color: rgb(199, 194, 194);
    font-size: 10px;
}

.percent-sale-img{
    position: absolute;
    top: 0px;
    left: -10px;
    background: url(/rsc/img/home/rectangle.png) no-repeat;
    background-size: contain;
    width: 49px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.border-product{
    border: 0.3px solid black;
}

.border-product1{
    border: 0.3px solid rgb(219, 214, 214);
}

.border-product-combo{
    border: 0.5px solid rgb(218, 213, 213);
}

.border-bar{
    border: 1.4px solid rgb(238, 237, 237);
}


.fix_container{
    max-width: 900px;
}

.align-self-center {
    align-self: center;
}

.justify-content-between {
    justify-content: space-between!important;
}

.logo_user{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
}

.owl-carousel{
    position: relative;
  }
  
.owl-dots{
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0%;
}

.background-img{
    margin: 100px 0 0;
    background: url(/rsc/img/home/newsletter-bg.png) no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 75px 0 95px;
}

.margin-items figure{
    margin: 2% !important;
}

.owl-carousel, .same-carousel-items{
    position: relative !important;
  }

.same-carousel-items .owl-item{
    height: 100% !important;
}
  
.same-carousel-items .owl-dots{
    position: absolute !important;
    left: 25% !important;
    right: 25% !important;
    bottom: 0% !important;
}

#top-carousel .owl-dots .owl-dot span{
    width: 50px !important;
    height: 2px !important;
    background-color: #5a5a5a !important;
    
}
#top-carousel .owl-dots .owl-dot.active span{
    width: 50px !important;
    height: 4px !important;
    background-color: #df0000 !important;
}
#top-carousel .owl-dots .owl-dot span:hover{
    width: 50px !important;
    height: 4px !important;
    background-color: #df0000 !important;
}

.card-products .card{
    background-color: white !important;
    box-shadow: none !important;
    transition: all 0.4s;
}
.card-products .card:hover{
    box-shadow: 5px 5px 10px rgb(200, 200, 200) !important;
}

.hover-product{
    transition: all 0.4s;
}

.hover-product:hover{
    box-shadow: 5px 5px 20px rgb(200, 200, 200) !important;
}

.outer-center-vertical{
    display:flex;
    justify-content: flex-end;
}

.iner-center-vertical{
    margin-top: auto;
    margin-bottom: auto;
}

.outer-center-vertical-brand{
    display:flex;
    justify-content: center;
}

#brand-items .owl-stage{
    display:flex;
    justify-content: center;
}

#brand-items .owl-item{
    margin-top: auto;
    margin-bottom: auto;
}

.column {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 2%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .content table{
      width: auto;
      font-size: 14px;
  }
  th, td{
    
  }

.content table td, .content table th{
    vertical-align: middle;
    padding: 1.5em 1.5em;
}

.border-bar div a{
    text-decoration: none; 
    font-size: 16px; 
    font-weight: 700; 
    color: black;
}

.border-sub-bar div a{
    text-decoration: none; 
    font-size: 14px; 
    font-weight: normal;
    color: black;
}

label a{
    font-size: 14px!important;
    font-weight: normal!important;
}

.border-bar div a:hover,
.border-sub-bar div a:hover,
.border-bar a:active{
    border-bottom: 2px solid black;
}